<h1 id="foto_title"><%= image_tag "my_mb.jpg" %></h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<div class="post">
	  <h2>About me </h2>
	  <br>
	 </div>
	 	<br>
		<p>Just a little bit about myself, I am Mindaugas from Lithuania (Vilnius). I like to create different  web sites, applications, and more:)
		Since 2013 I was interested  and created simple sites with WordPress also some e-shops with PrestaShop platform. It fared well, but it was a only hobby which is enjoyed.</p> 

		<p>And from 2015, I decided to seriously and started to learn very interesting programming language Ruby and Ruby on Rails, then i started to develop various projects and more.
		This is my portfolio developed with Ruby on Rails. A more detailed portfolio description can be found on this site. Also, you will find more of my work.</p>

		<p>My skills are: Ruby on Rails, HTML, CSS, SCSS, Bootstrap, SQL, MySQL, PostgreSQL, Git, Linux, basic PHP.  </p>

		<p>Thanks for visiting my profile, I'm looking forward to work with you!</p>
		<p><%= link_to "Leave me your message...", new_contact_path %></p>

</div>
