<h1 id="foto_title"><%= image_tag "my_mb.jpg" %></h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<div class="post">
	  <h2>About me </h2>
	  <br>
	 </div>
	 	<br>
		<p>Just little about myself, I am Mindaugas of Lithuania (Vilnius). Me like to create different sites, applications, and not only :)
		From 2013, the year I was interested  and created simple sites with WordPress. And I created  e-shops with PrestaShop platforms. It fared well, but it was a hobby which is enjoyed.</p>

		<p>And from 2015, I decided to seriously and started to learn the best and very interesting programming language Ruby.And Ruby on Rails started to develop various projects and and not only.
		This my portfolio developed with Ruby on Rails. A more detailed portfolio description
		find site. Also, you will find more of my work.</p>

		<p>My skills are: Ruby on Rails, Bootstrap, HTML, CSS, SCSS, SQL, MySQL, PostgreSQL, Git, Linux, basic PHP. Thank you for your time. </p>

		<p>Thanks for visiting my profile and  looking forward to work with you!</p>
		<p><%= link_to "Leave your message...", new_contact_path %></p>

</div>
